<template name="mainAppFrame">
  {{> navbar}}
  <div id="app-wrapper" class="container-fluid">
    {{> breadcrumb}}
    {{> Template.dynamic template=content}}
  </div>
</template>


<template name="bareAppFrame">
  {{> swirlBG}}
  <div id="app-wrapper" class="container-fluid bg-img-brand">
    {{> Template.dynamic template=content}}
  </div>
</template>


<template name="bareAppNavFrame">
  {{> navbarClear}}
  <div id="app-wrapper" class="container-fluid">
    {{> Template.dynamic template=content}}
  </div>
</template>

