<template name="swirlBG">
  <div class="bg-brand-swirl">
    <img class="spin-cw position-absolute" src="/img/swirl-Clockwise.svg">
    <img class="spin-acw position-absolute" src="/img/swirl-AntiClockwise.svg">
  </div>
</template>
