<template name="walletSend">

  <h5 class="text-center mb-4">Send {{#if (param 'asset')}}{{shortSymbol (param 'asset')}}{{else}}Funds{{/if}}</h5>

  {{#if (param 'asset')}}

    <div class="media my-4">

      <div class="d-flex mr-3">

        {{> circleColorIcon shortSymbol=balances.shortSymbol size="md"}}

      </div>

      <div class="media-body">
        <div class="mt-0">{{asset.name}} ({{balances.shortSymbol}})</div>
        <div class="dropdown">
          <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Change
          </a>
        
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            {{#each userAssets}}
              {{#if ne symbol (param 'asset')}}
                <a class="dropdown-item d-flex align-items-baseline" href="#" data-event="setAsset" data-param="{{symbol}}"><div class="mr-2">{{this.shortSymbol}}</div> <div class="small">{{tokenName symbol}}</div><div class="d-inline-block ml-auto small">({{toCurrency free}})</div></a>
              {{/if}}
            {{/each}}
          </div>
        </div>

      </div>
    </div>

  {{/if}}

  <div class="row">

    <div class="col-md-8 col-lg-6 ml-auto mr-auto">
      
      <form id="send-transaction-form" class="form" autocomplete="off">
        <fieldset disabled="{{#if loadingMsg}}disabled{{/if}}">
        <div class="form-row">

          <div class="form-group col-md-12 mb-2">
            <label for="inputRecipient">Recipient</label>
            <input type="text" class="form-control mb-3" name="recipient" id="inputRecipient" aria-describedby="amountHelp" placeholder="recipient">
            <small id="amountHelp" class="form-text text-warning">{{recipientError}}</small>
          </div>

          {{#unless (param 'asset')}}
            <div class="form-group col-md-12 mb-2">
              <label for="inputAsset">Asset</label>
              <select class="form-control custom-select mb-3" id="inputAsset" name="asset">

                {{#each userAssets}}
                  <option value="{{symbol}}">{{symbol}} ({{free}})</option>
                {{/each}}

              </select>
              <small class="form-text text-warning">{{assetError}}</small>
            </div>
          {{/unless}}

          <div class="form-group col-md-12 mb-2">
            <label for="inputAmount">Amount</label>
            <input type="text" class="form-control mb-3" name="amount" id="inputAmount" aria-describedby="amountHelp" placeholder="0.00">
            <small class="form-text text-{{#if amountError}}warning{{else}}accent{{/if}}">{{#if amountError}}{{amountError}}{{else}}{{#if (param 'asset')}}Available balance: {{balances.free}}{{/if}}{{/if}}</small>
          </div>

          <div class="form-group col-md-12 mb-2">
            <label for="inputAmount">Password</label>
            <input type="password" class="form-control mb-3" name="password" id="inputAmount" aria-describedby="passwordHelp" placeholder="password">
            <small class="form-text text-warning">{{passwordError}}</small>
          </div>


          <div class="form-group col-md-12 my-2">
            <button type="submit" class="form-control btn btn-dark btn-brand-border">
              <span>
                {{#if loadingMsg}}
                <div class="spinner-border spinner-border-sm" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
                {{loadingMsg}}
                {{else}}Send{{/if}}
              </span>
            </button>
          </div>


        </div>

      </fieldset>

      </form>


    </div>

  </div>

</template>

