<template name="walletAccounts">
  <h5 class="text-center mb-4">Account</h5>
  
  {{!-- Nav Tabs --}}
  <ul class="nav nav-tabs d-flex justify-content-center mb-4">
    <li class="nav-item">
      <a class="nav-link{{#unless isTestnet}} active{{/unless}}" href="#" data-event="toggleNetwork">Testnet</a>
    </li>
    <li class="nav-item disabled">
      <a class="nav-link{{#if isTestnet}} active{{/if}}" href="#" data-event="toggleNetwork">Mainnet</a>
    </li>
  </ul>


  <div class="row mt-3">
    <div class="col-md-3 mb-4">
      <div class="small">Account</div>
      <div class="text-truncate">{{user.address}}</div>
    </div>
    <div class="col-md-3 mb-4">
      <div class="small">Keystore Version</div>
      <div>{{user.keystore.version}}</div>
    </div>
    <div class="col-md-3 mb-4">
      <div class="small">Network</div>
      <div class="text-capitalize">{{client.network}}</div>
    </div>
    <div class="col-md-3 mb-4">
      <div class="small">Chain ID</div>
      <div class="text-capitalize">{{client.chainId}}</div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-lg-6 ml-auto mr-auto">

      <input type="button" class="btn btn-primary w-100 my-5" value="Lock Wallet" data-event="lockWallet">

      <h5>Wallet Management</h5>

      <input type="button" class="btn btn-primary w-100 my-2" value="View Phrase" data-event="viewPhrase">
      <a href="{{downloadLink}}" download="keystore.txt" class="btn btn-primary w-100 mb-2">Export Keystore</a>
      <input type="button" class="btn btn-danger w-100 my-3" value="Remove Wallet" data-event="deleteVault" />

    </div>
  </div>



</template>