<template name="walletAssets">
  <h5 class="text-center mb-4">Assets</h5>

  <ul class="list-unstyled">
    {{#unless assetsList}}<div class="text-italic text-muted">No assets yet...</div>{{/unless}}
    {{#each assetsList}}
    <li class="media d-flex mb-1 p-2 align-items-center" data-nav="{{pathFor "walletAssetDetails" symbol=symbol}}">
      <div class="mr-3">
        {{> circleColorIcon shortSymbol=shortSymbol size="md"}}
      </div>
      <div class="media-body d-flex">

        <div class="mr-auto d-md-flex align-items-md-center">
          <div class="h5 mb-0 text-truncate mr-3">{{tokenName symbol}}</div>
          <div class="small ">{{symbol}}</div>
        </div>
        <div class="">
          <div class="text-right font-italic color-grey small">{{decimals (price symbol)}}</div>
          <div class="text-right">{{decimals free}}</div>
        </div>

      </div>
    </li>
    {{/each}}

  </ul>
</template>

