<template name="walletTransactionsList">

  {{#unless eq type 'table'}}
    <h5 class="text-center mb-4">Transactions</h5>

    {{#unless transactions}}<div class="text-italic text-muted">No transactions yet...</div>{{/unless}}

    {{> transactionsList 
      transactions=transactions
    }}

  {{else}}

{{!-- Table stuff goes here --}}
    {{> transactionsTable transactions=transactions sender=(sender fromAddr) amount=(decimals value) }}

  {{/unless}}
</template>

<template name="transactionsList">

  <ul class="list-group">
    {{#each transactions}}

      <li class="media list-group-item p-1">
        <div class="media-body d-flex align-items-center justify-content-start">

          {{#let party=(txKind fromAddr toAddr)}}
          <div class="d-md-none col-2 col-lg-1 px-1 font-weight-bold small text-uppercase ">{{party.msg}}</div>
          <div class="d-none d-md-block col-2 col-lg-1 px-1 font-weight-bold text-uppercase ">{{party.msg}}</div>

          <div class="text-truncate mr-auto p-1">
            <div class="text-truncate"><span>{{party.label}}:</span> <span class="small text-monospace">{{party.address}}</span></div>
            {{!-- <div class="small text-truncate"><strong>From:</strong> {{fromAddr}}</div> --}}
          </div>

          <div class="pl-1">
            <div class="text-right"><span class="text-{{party.color}}">{{party.op}}{{toCurrency value}}</span> <span class="d-none d-md-inline">[{{shortSym txAsset}}]</span></div>
            <div class="small text-right text-muted text-nowrap">{{txAsset}}</div>
          </div>
          {{/let}}

        </div>
      </li>

    {{/each}}
  </ul>
</template>


<template name="transactionsTable">
{{#unless transactions}}
  <div class="text-italic text-muted">No transactions yet...</div>
{{else}}

  <table class="table table-sm table-dark table-borderless">

    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Type</th>
        <th scope="col">With</th>
        <th scope="col"></th>
        {{!-- <th scope="col">Memo</th> --}}
        {{!-- <th scope="col">Fee</th> --}}
        <th scope="col">Amount</th>
        <th scope="col">View</th>

      </tr>
    </thead>
    <tbody>
      {{#each transactions}}
        <tr>
          <td class="text-nowrap">{{momentShort timeStamp}}</td>
          <td class="text-capitals">{{txType}}</td>
          {{!-- <td class="text-truncate"><div class="text-truncate">{{selfAddr fromAddr}}</div></td> --}}


          <td class="px-0" colspan="2">
            <div class="row m-0">
              {{#let party=(isWith fromAddr toAddr)}}
                <div class="col-sm-2 col-md-2 p-0 px-1 text-truncate font-weight-bold">{{party.msg}}</div>
                <div class="col-sm-10 col-md-10 p-0 px-1 text-truncate">{{party.address}}</div>

                {{!-- <div class="col-sm-12 text-truncate py-0 px-1">{{party.text}} {{party.address}}</div> --}}
              {{/let}}
            </div>
          </td>



          {{!-- <td>{{memo}}</td> --}}
          {{!-- <td>{{txFee}}</td> --}}
          <td>{{toCurrency value}} {{shortSymbol txAsset}}</td>
          <td class="text-center"><a href="{{link txHash}}" data-event='externalLink'><i class="fa fa-external-link-square-alt"></i></a></td>
        </tr>
      {{/each}}
    </tbody>
  </table>

{{/unless}}

</template>
