<template name="walletImport">
  <h3>Import</h3>
  <form id="wallet-import-form" autocomplete="off">
    <div class="form-row">
      <div class="form-group col-md-12">
        <input type="textarea" class="form-control form-control-lg" placeholder="mnemonic" name="mnemonic">
      </div>
      <div class="form-group col-md-12">
        <input type="password" class="form-control form-control-lg" placeholder="password" name="password">
      </div>
      <div class="form-group col-md-12">
        <input type="submit" class="form-control form-control-lg btn btn-primary" value="Import">
      </div>
    </div>
  </form>
</template>
