<template name="home">

we are setting up links...
if we dont have a wallet,

<div>
create <a href="{{pathFor 'walletCreate'}}">new wallet</a>
</div>

<div>
if we have a wallet we are going to <a href="{{pathFor 'walletAccounts'}}">view it</a>
</div>
</template>
