<template name="walletAssetDetails">

  <div class="row mt-2">
    <div class="col text-center">

      <div class="d-flex justify-content-center mb-2">{{> circleColorIcon shortSymbol=balances.shortSymbol size="lg"}}</div>
            
      <div class="h4">{{token.name}} {{balances.shortSymbol}}</div>

      <div class="my-4">{{balances.symbol}}</div>

      <div class="font-size-h3 text-center">{{toCurrency balances.full}} <small>{{balances.shortSymbol}}</small></div>

    </div>
  </div>


  <div class="col d-flex justify-content-center">

    <div class="p-3 mx-2">
      <div>Free:</div>
      <div class="font-size-h4">{{toCurrency balances.free}}</div>
    </div>

    <div class="p-3 mx-2">
      <div>Frozen:</div>
      <div class="font-size-h4">{{toCurrency balances.frozen}}</div>
    </div>

    <div class="p-3 mx-2">
      <div>Locked:</div>
      <div class="font-size-h4">{{toCurrency balances.locked}}</div>
    </div>

  </div>


  
  <div class="hr mb-4"></div>

  <div class="row">

    <div class="col-md-8 col-lg-6 ml-auto mr-auto">

      <div class="row">

        <div class="col-6 my-4 text-center">
          <input type="button" class="btn btn-primary w-100" data-nav="{{pathFor 'walletSend' asset=(param 'symbol')}}" value="send">
          {{#if freezable}}
          <input type="button" class="btn btn-text mt-3" value="Freeze">
          <div class="small">Freeze assets on address</div>
          {{/if}}
        </div>

        <div class="col-6 my-4 text-center">
          <input type="button" class="btn btn-primary w-100" data-nav="{{pathFor 'walletReceive'}}" value="receive">
          {{#if freezable}}
          <input type="button" class="btn btn-text mt-3" value="Unfreeze">
          <div class="small">Unfreeze assets on address</div>
          {{/if}}
        </div>


      </div>

    </div>

  </div>

  <div class="hr mb-2"></div>

  {{> walletTransactionsList type="table"}}
</template>
